@model Portal.Models.Judge

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-3">
        <img src="@Html.DisplayFor(model =>model.ImageUrl)" style="height:250px;width:250px;" />
    </div>
    <div class="col-sm-9">

        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#menu1">Judge Profile</a></li>
            <li><a data-toggle="tab" href="#menu2">Opinion</a></li>
            <li><a data-toggle="tab" href="#menu3">Analysis</a></li>
        </ul>

        <div class="tab-content">
            <div id="menu1" class="tab-pane fade">
                <h3>Judge Profile</h3>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        @Html.HiddenFor(model => model.JudgeId)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LastUpdated, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LastUpdated, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.LastUpdated, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ImageUrl, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.ImageUrl, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CaseHolding, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CaseHolding, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.CaseHolding, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AttorneyNames, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AttorneyNames, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.AttorneyNames, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CommonlyCitedSources, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CommonlyCitedSources, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.CommonlyCitedSources, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.JudicalSystem, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.JudicalSystem, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.JudicalSystem, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Jurisdiction, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Jurisdiction, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Jurisdiction, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NumberOfCases, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NumberOfCases, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.NumberOfCases, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Education, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Education, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Education, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Memberships, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Memberships, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Memberships, "", new {@class = "text-danger"})
                            </div>
                        </div>

                    </div>
                }
            </div>
            <div id="menu2" class="tab-pane fade">
                <h2>Opinions:</h2>
                <div>
                    @foreach (var o in Model.Opinions)
                    {
                        <div class="col-md-4">
                            <div>@Html.ActionLink(o.Title, "Details" + "/" + @o.OpinionId, "Opinions")</div>
                        </div>

                        <div class="col-md-4">
                            <div>@o.Url</div>
                        </div>
                    }
                </div>
            </div>
            <div id="menu3" class="tab-pane fade">
                @foreach (var m in Model.Memberships)
                {
                    <div class="col-md-4">
                        <div>@Html.ActionLink(m.Title, "Details" + "/" + @m.MembershipId, "Memberships")</div>
                    </div>
                }
                <h3>Keywords:</h3>
            </div>
        </div>
        

        <div>
            @Html.ActionLink("Back to Search Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>
</div>


