@model Portal.Models.Judge

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-3">
        <img src="@Html.DisplayFor(model =>model.ImageUrl)" style="height:250px;width:250px;" />
    </div>
    <div class="col-sm-9">
        <p>
            <b>Name:</b> @Model.Name
        </p>
        <p>
            <b>Description:</b> @Model.Description
        </p>
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#menu1">Judge Profile</a></li>
            <li><a data-toggle="tab" href="#menu2">Rulings</a></li>
            <li><a data-toggle="tab" href="#menu3">Additional Information</a></li>
        </ul>

        <div class="tab-content">
            <div id="menu1" class="tab-pane fade">
                <div>
                    <p>
                        <b>Born:</b> @Model.Born
                    </p>
                    <p>
                        <b>Country:</b> @Model.Country
                    </p>
                    <p>
                        <b>Jurisdiction:</b> @Model.Jurisdiction
                    </p>
                    <p>
                        <b>Language:</b> @Model.Language
                    </p>
                    <p>
                        <b>Judical System:</b> @Model.JudicalSystem
                    </p>
                    <p>
                        <b>Education:</b> @Model.Education
                    </p>
                    <p>
                        <b>Attorneys before the Court:</b> @Model.AttorneyNames
                    </p>
                    <p>
                        <b>Commonly Cited Sources:</b> @Model.CommonlyCitedSources
                    </p>
                    <p>
                        <b>Studied In West:</b> @Model.StudiedInWest
                    </p>
                    <p>
                        <b>Arrested For Corruption:</b> @Model.ArrestedForCorruption
                    </p>
                    <p>
                        <b>Was Citation Used:</b> @Model.WasCitationUsed
                    </p>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h2>Rulings:</h2>
                <p>
                    @foreach (var o in Model.Rulings)
                    {
                        <p>
                            <div> Details: @Html.ActionLink(o.Title, "Details" + "/" + @o.RulingId, "Rulings") Link: <a href="@o.Url" target="_blank">@o.Title</a></div>
                        </p>
                    }
                </p>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h2>Memberships:</h2>
                @foreach (var m in Model.Memberships)
                {
                    <p>
                        @Html.ActionLink(m.Title, "Details" + "/" + @m.MembershipId, "Memberships")
                    </p>
                }
                <h3>Keywords:</h3>
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to Search Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
