@model Portal.Models.HomeViewModel

@{
    ViewBag.Title = "Judge Portal";
}


<div class="row">
    
    @using (Html.BeginForm("Search", "Judges"))
    {
        <div class="form-group">
            <div class="input-group" style="width:300px">
                @Html.TextBoxFor(m => m.SearchTerm, new {@class = "form-control", autofocus = "autofocus" })
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
        </div>
    }
    <div class="col-sm-12">
        <ul style="list-style: none;">
            @foreach (var judje in Model.Judges)
            {
                <div class="col-lg-3">
                    <img src="@judje.ImageUrl" style="height: 200px; width: 200px;" />
                </div>
                <div class="col-lg-9">
                    <li>
                        <h4>@Html.ActionLink(@judje.Name, "View" + "/" + @judje.JudgeId, "Judges")</h4>
                        <p>
                            @judje.Description
                        </p>
                        <p>
                            @judje.Education
                        </p>
                        <p>
                            @judje.Country
                        </p>
                        <form action="@Url.Action("Delete", "Judges", new {id = judje.JudgeId})" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn-link">Delete</button>
                            <a href="@Url.Action("Edit", "Judges", new {id = judje.JudgeId})">Edit</a>
                        </form>
                    </li>
                </div>
            }
        </ul>
    </div>
</div>

@*<table class="table table-condensed">
    <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Jurisdiction</th>
            <th>Education</th>
            <th>Number Of Cases</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var judje in Model.Judges)
        {
            <tr>
                <td>@Html.ActionLink(@judje.Name, "View" + "/" + @judje.JudgeId, "Judges")</td>
                <td>@judje.Jurisdiction</td>
                <td>@judje.Education</td>
                <td>@judje.NumberOfCases</td>
                <td class="actions">
                    <form action="@Url.Action("Delete", "Judges", new {id = judje.JudgeId})" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn-link">Delete</button>
                        <a href="@Url.Action("Edit", "Judges", new {id = judje.JudgeId})">Edit</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>*@