@model Portal.Models.RulingViewModel

@{
    ViewBag.Title = "Rulings List";
}
<h2>Judge Rulings</h2>
<p>
    @Html.ActionLink("Create New Ruling", "Create")
</p>

@using (Html.BeginForm("Search", "Rulings"))
{
    <div class="form-group">
        <div class="input-group" style="width:300px">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", autofocus = "autofocus" })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}

<table class="table table-condensed">
    <thead class="thead-inverse">
    <tr>
        <th>Title</th>
        <th>JudgeId</th>
        <th>Url</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var opnion in Model.Rulings)
    {
        <tr>
            <td>@Html.ActionLink(@opnion.Title, "Details" + "/" + @opnion.RulingId, "Rulings")</td>
            <td>@opnion.JudgeId</td>
            <td><a href="@opnion.Url" target="_blank">@opnion.Url</a></td>
            <td class="actions">
                <form action="@Url.Action("Delete", "Rulings", new {id = opnion.RulingId })" method="post">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn-link">Delete</button>
                    <a href="@Url.Action("Edit", "Rulings", new {id = opnion.RulingId})">Edit</a>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>